<div class="list row" class="p-4">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control me-1"
          placeholder="Search by Name"
          [(ngModel)]="video_name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary mx-1"
            (click)="searchName()"
          >
            Search
          </button>
          <button
            class="btn btn-outline-primary mx-1"
            routerLink="../addmovie"
          >
            Add Movie
          </button>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Movie List</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>            
            <th>Category</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>        
          <tr
            *ngFor="let temp of movieList; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveMovie(temp, i)"
          >
            <td>{{ temp.video?.video_name }}</td>
            <td>{{ temp.category?.category_name }}</td>
            <td>{{ temp.language?.language_name }}</td>
          </tr>
        </tbody>
      </table>
      <button class="my-3 btn btn-sm btn-danger" (click)="removeAllMovie()">
        Remove All
      </button>
    </div>
    <div class="col-md-5">
      <app-movie-details
        [viewMode]="true"
        [currentMovie]="currentMovie"
      ></app-movie-details>
    </div>
  </div>
  </div>