<div class="container p-4">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form>
        <div class="form-group m-1">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="video.video_name"
            name="video_name"
          />
        </div>
        <div class="form-group m-1">
          <label for="category">Category</label>
          <select class="form-control" name="type" [(ngModel)]="movie.categoryId" id="categoryId" required>
            <option selected></option>
            <option [ngValue]="temp.id" *ngFor="let temp of category">{{ temp.category_name }}</option>
          </select>
        </div>
        <div class="form-group m-1">
          <label for="language">Language</label>
          <select class="form-control" name="type" [(ngModel)]="movie.languageId" id="languageId" required>
            <option selected></option>
            <option [ngValue]="temp.id" *ngFor="let temp of language">{{ temp.language_name }}</option>
          </select>
        </div>
        <div class="form-group m-1">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            [(ngModel)]="video.description"
            name="description"
          ></textarea>
        </div>
        <div class="form-group m-1">
          <label for="rating">Rating</label>
          <input
            type="number"
            class="form-control"
            id="rating"
            required
            [(ngModel)]="video.rating"
            name="rating"
            min="0" max="10"
          />
        </div>
        <div class="form-group m-1">
          <label for="reales_year">Reales Year</label>
          <input
            type="text"
            class="form-control"
            id="reales_year"
            required
            [(ngModel)]="video.reales_year"
            name="reales_year"
          />
        </div>
        <div class="form-group m-1">
          <label for="watch_count">Watch Count</label>
          <input
            type="number"
            class="form-control"
            id="watch_count"
            required
            [(ngModel)]="video.watch_count"
            name="watch_count"
          />
        </div>
        <div class="form-group m-1">
          <label for="thumbnail_path">Thumbnail</label>
            <input
              type="file"
              class="form-control"
              id="thumbnail_path"
              required
              name="thumbnail_path"              
              (change)="uploadimage($any($event))"
            />
        </div>
        <div class="form-group m-1">
          <label for="thumbnail_path">Video</label>
            <input
              type="file"
              class="form-control"
              id="video_path"
              required
              name="video_path"              
              (change)="uploadvideo($any($event))"
            />
        </div>
      </form>

      <button (click)="saveMovie()" class="btn btn-primary my-2">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Movie was submitted successfully!</h4>
      <button class="btn btn-primary my-2 me-1" (click)="newMovie()">Add</button>
      <button class="btn btn-primary my-2" routerLink="../movie">View</button>
    </div>
  </div>
</div>
