<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid p-0">
    <!-- Footer -->
    <footer class="" style="background-color:#f5f5f5; color:#7f7f7f; ">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row pt-5">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-2 font-weight-bold ml-6 text-dark">
                            Trending on MX
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Bhaukaal 2</li>
                            <li>Lock Upp Trailer</li>
                            <li>Dhadkan Zindaggi Kii</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Popular Shows
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>CID</li>
                            <li>Aahat</li>
                            <li>Crime Petrol</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Regional Movies
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Tamil Movies</li>
                            <li>Gujrati Movies</li>
                            <li>Bhojpuri Movies</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Music Songs
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Hindi Songs</li>
                            <li>English Songs</li>
                            <li>Punjabi Songs</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="mt-5">
                    <h6 class="text-uppercase mb-2 font-weight-bold ml-6 text-dark">
                        Watch the Latest Movies in Hindi, Tamil, Telugu and Kannada Online on MX Player
                    </h6>
                    <p>
                        If you are looking for the latest movies, most popular web shows, newly released songs as well
                        as the latest news, then MX Player is your one-stop destination for all your entertainment
                        needs. One of the best OTT platforms in India, MX Player is a free video streaming service that
                        you can enjoy on your laptop, TV, mobile phone and other smart devices. You do not fight for the
                        television remote anymore, as all your favourite TV channels live are streaming for free right
                        here. From the best award-winning web shows and blockbuster movies to the latest music videos
                        and daily TV shows, you name it and we have it for you. All you need to do is connect your smart
                        device to the internet and let us do the rest. So you can now take the entertainment with you
                        wherever you go.
                    </p>
                </div>
                <div class="mt-5">
                    <h6 class="text-uppercase mb-2 font-weight-bold ml-6 text-dark">
                        Stream News Live TV Channels, New Released Web Series for Free Online on MX Player
                    </h6>
                    <p>
                        While entertainment has no language, it sure bodes best in your mother tongue. Keeping this in
                        mind MX Player has for your movies, web shows and TV shows in Hindi, English, Tamil, Telugu,
                        Kannada, Bhojpuri and many other languages. You can explore the latest movies and music videos
                        by language, genre and moods. Not just this, you can also make your playlists and wish lists as
                        per your choice of movies and songs. Why look somewhere else when you can find all the
                        entertainment you need with a click of a button? Stay tuned to MX Player to check out the latest
                        movies, upcoming song videos, new web series and free live TV channels.
                    </p>
                </div>
                <div class="mt-5">
                    <h6 class="text-uppercase mb-2 font-weight-bold ml-6 text-dark">
                        Catch unlimited Entertainment with Daily TV Show Episodes and New Web Shows Online
                    </h6>
                    <p>
                        If you miss an episode of your favourite TV show, do not worry as MX Player has got you covered.
                        You can watch the popular TV serials in Hindi, Marathi, Tamil and Telugu serials for free, right
                        here. You can browse the list of popular online songs, Amitabh Bachchan movies, the latest Allu
                        Arjun movies, new Suriya movies, popular Chiranjeevi movies and many more movies of the most
                        famous actors. Play the latest songs in Bhojpuri, new Punjabi songs, Kannada songs anytime and
                        from anywhere. You can also create your own playlists of party songs, and even a Bhajan and
                        Aarti. Watch the latest movies, live TV channels, popular web series and TV shows episodes all
                        at once right here.
                    </p>
                    <p>
                        Take delight of Trending: Drushyam Movie, Taarak Mehta ka Ooltah Chashma, दुर्गा चालीसा,
                        Punyashlok Ahilyabai, Popular Kanchana 2, Bollywood music & movies, Tollywood entertainment,
                        Tamil Songs, English movies, much-loved web series, shows and much more online whenever you want
                        at MX Player. Now streaming India's Best Dancer, Wagle Ki Duniya , Supermodel Of The Year ,
                        Shubh Laabh & Maddam Sir, Mere Sai, The Choice, Meri Doli Mere Angana , Ziddi Dil Maane Na,
                        Welcome To Karachi, Bairavaa, Charlie & more online for free. Stream Now!
                    </p>
                </div>

                <div class="row pt-5">
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold ml-6 text-dark">
                            Trending
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Bhaukaal 2</li>
                            <li>2021 Trailer</li>
                            <li>Dhadkan Zindaggi Kii</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Movies By Language
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>CID</li>
                            <li>Aahat</li>
                            <li>Crime Petrol</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Songs by Genre
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Tamil Movies</li>
                            <li>Gujrati Movies</li>
                            <li>Bhojpuri Movies</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Movies by Genre
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Hindi Songs</li>
                            <li>English Songs</li>
                            <li>Punjabi Songs</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Popular Actors
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>CID</li>
                            <li>Aahat</li>
                            <li>Crime Petrol</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            International Shows
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Tamil Movies</li>
                            <li>Gujrati Movies</li>
                            <li>Bhojpuri Movies</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold ml-6 text-dark">
                            Popular Artists
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Khesari Lal Songs</li>
                            <li>2021 Trailer</li>
                            <li>Dhadkan Zindaggi Kii</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto ">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Songs by Language
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>CID</li>
                            <li>Aahat</li>
                            <li>Crime Petrol</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Popular Songs & Albums
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Tamil Movies</li>
                            <li>Gujrati Movies</li>
                            <li>Bhojpuri Movies</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Down the Lane
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Hindi Songs</li>
                            <li>English Songs</li>
                            <li>Punjabi Songs</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Popular TV Shows
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>CID</li>
                            <li>Aahat</li>
                            <li>Crime Petrol</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-2 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Live TV Channels
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>News TV</li>
                            <li>Colors</li>
                            <li>Sony TV</li>
                            <li><a href="#" class="text-decoration-none">SEE MORE<span
                                        class="fa fa-solid fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Section -->
            <section>
                <div class="row pt-5">
                    <div class="col-3 mx-auto">
                        <a href="index.html"><img src="assets/img/logo1.png" class="logo" alt="MXPlayer"></a>
                        <p>© 2018. www.mxplayer.in. All rights reserved.</p>
                    </div>
                    <div class="col-4 mx-auto ">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark m-2">
                            Explore
                        </h6>
                        <div>
                            <a href="#" class="text-decoration-none link-secondary m-2">HOME</a>
                            <a href="#" class="text-decoration-none link-secondary m-2">TV</a>
                            <a href="#" class="text-decoration-none link-secondary m-2">WEB SHOWS</a>
                            <a href="#" class="text-decoration-none link-secondary m-2">MOVIES</a>
                            <a href="#" class="text-decoration-none link-secondary m-2">MUSIC</a>
                            <a href="#" class="text-decoration-none link-secondary m-2">ELECTION</a>
                            <a href="#" class="text-decoration-none link-secondary m-2">BUZZ</a>
                        </div>

                    </div>
                    <div class="col-1 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Company
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>MX Player App Download</li>
                            <li>About</li>
                            <li>Contact Us</li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                    <div class="col-1 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Legal
                        </h6>
                        <ul class="p-0" style="list-style: none;">
                            <li>Privacy</li>
                            <li>Terms</li>
                            <li>Content Complaints</li>
                            <li>Compliance Report</li>

                        </ul>
                    </div>
                    <div class="col-3 mx-auto">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark">
                            Follow Us
                        </h6>
                        <div>
                            <a href="#" class="text-decoration-none">
                                <span class="fa-stack fa-lg text-secondary">
                                    <span class="fa fa-facebook fa-stack-1x"></span>
                                    <span class="fa fa-circle-thin fa-stack-2x"></span>
                                </span>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <span class="fa-stack fa-lg text-secondary">
                                    <span class="fa fa-twitter fa-stack-1x"></span>
                                    <span class="fa fa-circle-thin fa-stack-2x"></span>
                                </span>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <span class="fa-stack fa-lg text-secondary">
                                    <span class="fa fa-youtube fa-stack-1x"></span>
                                    <span class="fa fa-circle-thin fa-stack-2x"></span>
                                </span>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <span class="fa-stack fa-lg text-secondary">
                                    <span class="fa fa-linkedin fa-stack-1x"></span>
                                    <span class="fa fa-circle-thin fa-stack-2x"></span>
                                </span>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <span class="fa-stack fa-lg text-secondary">
                                    <span class="fa fa-instagram fa-stack-1x"></span>
                                    <span class="fa fa-circle-thin fa-stack-2x"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 px-24">
                    <div class="col-4 mx-auto text-center">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark m-2">Download MX Player App</h6>
                        <a href="#">
                            <img src="assets/img/ios_app.png" class="img-thumbnail" alt="ios_app" width="125"
                                height="50">
                        </a>
                        <a href="#">
                            <img src="assets/img/android_app.png" class="img-thumbnail" alt="android_app" width="125"
                                height="50">
                        </a>
                    </div>
                    <div class="col-4 mx-auto text-center">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark m-2">Download MX TakaTak App</h6>
                        <a href="#">
                            <img src="assets/img/ios_app.png" class="img-thumbnail" alt="ios_app" width="125"
                                height="50">
                        </a>

                        <a href="#">
                            <img src="assets/img/android_app.png" class="img-thumbnail" alt="android_app" width="125"
                                height="50">
                        </a>
                    </div>
                    <div class="col-4 mx-auto text-center">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-dark m-2">Download MX ShareKaro App</h6>
                        <a href="#">
                            <img src="assets/img/ios_app.png" class="img-thumbnail" alt="ios_app" width="125"
                                height="50">
                        </a>
                    </div>
                </div>


            </section>

        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->